{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:80px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }

    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>ABOUT US</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
    <p>Manuroop is a Global IT solutions and services company, established in 2016. Headquartered in Michigan, USA with presence in India, in Hyderabad. We offer a wide
 range of IT services to our customers which helps them augment their business prospects. Our services are offered to a wide range of business verticals and industries like IT/ITES, Real Estate, Health Care, Pharmaceuticals and Life Sciences, Manufacturing, Hospitality and Non-Profits etc. The services offered by us are carefully and efficiently managed and implemented by our expert team of colleagues who possess immense knowledge and experience in the field of IT services. Through our dedicated team of experts, we attend to the needs of our customers and work accordingly to provide them with the solutions, keeping in mind the changing technological advancements. Our main goal is to give our customers the best services to help them with their productivity and a competitive edge in the business market.

Manuroop is a Global IT Services company we have helped numerous businesses grow quickly & efficiently. Our CRM, ERP, Cloud & BI Services, Mobile App Development, Staff Augmentation Solutions & Custom Software Development have met and excelled each Client’s expectations.
Be it the Life sciences or Hospitality, Real estate or Manufacturing, Argo-products or the IT department, our wealth of experience across each industry helps us create successful and unique solutions for every business management problem out there.
</p>
</div>

{% endblock %}