{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:40px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }
    .about h4{
        margin:0px;
        font-size:17px;
    }

    .about ol li{
    margin-left:8px;
    display: list-item;
    }

    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>AGRI-PRODUCTS CRM</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
    <h4><b>Situation</b></h4>
<p>Nuziveedu Seeds Ltd was looking for a MobileApplication to enable and automate the manual process of Sales transactions and enhance communication through digital visibility by developing the Web based PHP/Android Mobile Application.</p>
<h4><b>Solution</b></h4>
<p>The solution is PHP Based Web portal and Android Mobile, this App is easy to Customize, affordable and user-friendly responsive Web/Mobile Application from Pegasys. It had all the features Nuziveedu Seeds Ltd requires and can be customized to the micro level requirements</p>
<h4><b>Following are the key benefits of our solution</b></h4>
<p>To monitor Field staff or employees of NSL and register attendance on their daily schedule of activities</p>
<ol><li>To monitor product movement and ensure traceability across the channel</li><li>MIS dashboard for Field staff activities with an API to HRIS application.</li><li>For initiation of online sales transactions through sales order generation at the retailer or distributor point. The online sales orders to directly or indirectly sync with the ERP/SAP based Sales indent system of NSL.</li><li>Forms for collection of market data on set parameters which will serve as inputs for Market intelligence dashboard.</li><li>Customizable inbuilt Forms feature for configurability and flexibility of using the application by required customization for meeting the user needs of marketing, sales, production and Product evaluation functions.</li><li>Role based access, standard user authentication&amp; security features.</li></ol>
</div>

{% endblock %}