{% extends 'base.html' %}
{% block content %}
<style>
h3{
   color:black;
}
 main {
        margin:0px;
        }
    p{
  font-size:17px;
}
.IT{
          height:500px;
          background-color:#F8F9F9;
          margin-top: 0px;

        }

        .head{
        padding-top:30px;
        }
.truncate{

display: block;

max-width: 220px;

white-space: nowrap;

overflow: hidden;

text-overflow: ellipsis;

}

        .IT-grid{
          display:grid;
          grid-template-columns: 1fr 1fr 1fr;
         padding:50px 182px 0px 188px;;

        }

		.IT-grid2,.IT-grid1,.IT-grid3{
		 border: 2px solid 	#9ea8a6;
         height:300px;
		 width:250px;
         display:block;
         justify-content: center;
         flex-flow: column;
         align-items:center;

		}


    </style>
<div class="slider" id="slide1">
        <ul class="slides" id="slides1">
          <li>
			  {% load static %}
<img src="{% static "images/big-data-analytics-banner.jpg" %}" alt="salesforce_implmentation_img" width=100%/>
          </li>
          <li>
<img src="{% static "images/big-data-analytics-Career.png" %}" alt="salesforce_implmentation_img" width=100%/>
          </li>
          <li>
<img src="{% static "images/resources_banner.png" %}" alt="salesforce_implmentation_img" width=100%/>
          </li>
          <li>
<img src="{% static "images/crm.jpg" %}" alt="salesforce_implmentation_img" width=100%/>
          </li>
        </ul>
      </div>
<div class="IT">
	<div class="head">
     <center><h3><b>Our Services</b></h3>
<p>CRM Services, ERP Implementation, Cloud Software, Open Source and Mobile App Development</p></center>

    </div>
            <div class="IT-grid">
         <div class="IT-grid1">
         <center>   <div class="icon">
              {% load static %}
                <img src="{% static "images/crm_icon.png" %}"/></div>
             <h4 style="color:blue;">CRM Services</h4>
            <p style="font-size:12px;">Setup, Integration, Customization, and Training - end to end solution for new and existing CRM instances. Develop scalable Sales...
                </p>
          <a class="btn btn-theme-primary-outline" href="/services/consulting-training/">Read More</a></center>

				</div>
          <div class="IT-grid2">
           <center>   <div class="icon">
              {% load static %}
                <img src="{% static "images/ERPImplementation.png" %}"/></div>
             <h4 style="color:blue;">ERP Implementation</h4>
              <p style="font-size:12px;">ERP Software Implementation, Business Process Study, ERP Configuration, Data Migration, and Training - improve business efficiency... </p>
		  <a class="btn btn-theme-primary-outline" href="/services/consulting-training/">Read More</a></center>
          </div>

          <div class="IT-grid3">
          <center>   <div class="icon">
              {% load static %}
                <img src="{% static "images/DataAnalytics.png" %}"/></div>
          <h4 style="color:blue;">Data Analytics</h4>
          <p style="font-size:12px;">Analyze and mark trends, Generate detailed Reports, and Reduce losses with our BI and artificial predictive intelligence tools...</p>
		 <a class="btn btn-theme-primary-outline" href="/services/consulting-training/">Read More</a></center>
          </div></div></div>
<div class="head">
     <center><h3><b>Our Partners</b></h3>
         <p>Working in the industry for over two decades, Manuroop has developed key Partnerships with leading Software companies.</p></center>
    </div>
 <div class="row valign-wrapper">
            <div class="col s4">
                {% load static %}
              <img src="{% static "images/Salesforce-Consulting-Partner-India.png" %}" alt="" > <!-- notice the "circle" class -->
            </div>
      <div class="col s4">
                {% load static %}
              <img src="{% static "images/Microsoft-Dynamics-Consulting-Partner-India.png" %}" alt="" > <!-- notice the "circle" class -->
            </div>
      <div class="col s4">
                {% load static %}
              <img src="{% static "images/Informatica-Consulting-Partner-India.png" %}" alt="" > <!-- notice the "circle" class -->
            </div>
 </div>
{% endblock %}