{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:40px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }
    .about h4{
        margin:0px;
        font-size:17px;
    }

    .about ol li{
    margin-left:8px;
    display: list-item;
    }

    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>HOSPITALITY CRM</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
<p>In the competitive luxury hospitality market, customer loyalty is key—and Constance Hotels and Resorts aimed to deliver consistently excellent experiences as it added new locations. Today, the group uses a social business network to empower its people with the skills to offer the highest-quality services—nurturing loyalty and driving growth.</p>
    <h4><b>Hospitality Practice</b></h4>
<p>Our hospitality practice enables hotels, resorts, restaurants, cruise ships, casinos, and health and fitness chains to improve business competitiveness. By leveraging alliances with various product vendors who are industry leaders in respective domains, we are well-poised to provide customized technology and business solutions to the hospitality industry.</p>
    <h4><b>Our Hospitality Customer Footprints</b></h4>
<ol><li>Stay connected wherever you are – 24x7x365</li><li>Supports various devices – Android, iOS, Windows Mobile, Hybrid</li><li>Custom UI design and development – Customize it for your business.</li><li>Evaluate your strategies/goal/employee performance regularly.</li></ol>

    <h4><b>Service Offers</b></h4><br>
    <h4 style="font-size:13px;"><b>Health and Fitness Center</b></h4>
<p>Health is wealth!! Today, the fitness centers have become indispensable part of life. To provide optimal facilities and customer service, Health and Fitness centers rely on the latest technologies.</p>
<h4><b>We provide the following innovative solutions:</b></h4><br>
<ol><li> Fitness and membership management system</li><li>  Employee and volunteer management</li><li>  Inventory and asset management</li><li> Business intelligence and performance management solutions on iPad devices</li></ol>
<h4><b>We offer the following solutions to the hotel industry:</b></h4><br>
<ol><li> Custom built Property Management System</li><li> Restaurant Management System on iPad and Point of Service (POS)</li><li> Recipe and inventory management integration</li><li> TV based guest service solution</li><li> In-Room technology integration on iPad for hotels</li><li>Enterprise Resource Planning (ERP) implementation</li><li> Supply chain (purchasing and inventory)</li><li> HRMS Implementation</li><li> Integration with HIS and HMS systems</li><li> iDecisions™ – analytics for hotels operations</li><li> Time Share Reservation System</li><li> Mobility solutions for check-in and in-room technology integration and other hotel specific applications</li><li> Consultative approach to redesign the services procurement process and IT enablement</li><li> Cloud consulting services</li><li> Event and venue management</li><li> Hospitality services and catering management</li><li> End-to-End Conference Management System</li></ol>





</div>
<h4>Our Clients</h4>
{% endblock %}