{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:40px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }
    .about h4{
        margin:0px;
        font-size:17px;
    }

    .about ol li{
    margin-left:8px;
    display: list-item;
    }

    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>IT & ITES CRM</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
    <p>Promptly rooted in the mobile technology industry with the vision of excelling in the domain, is focused on delivering the pre-eminent qualities in result-oriented outputs, having world-class standards in constant check.</p>
    <h4><b>Business challenges & drivers</b></h4>
    <ol><li>Relying on a hodgepodge of Excel spreadsheets, sales staff were missing customer follow-ups and opportunities were slipping away</li><li>Managers got information about sales reps’ activity well after the fact and couldn’t track new opportunities</li><li>There was utter confusion with regards to follow ups and daily activities were often missed</li><li>No defined process for the sales acquisition cycle</li><li>Unable to track which of their products gave them more revenue</li></ol>
<h4><b>Solution:</b></h4>
<ol><li>Sales Cloud: 5 licenses bought in PE gave them a central repository</li><li> Easy reporting on product performance and ROI calculation</li><li>Ease of sending bulk mailers for running Marketing Campaigns through the CRM</li><li>Create a defined working process from Lead submission to deal closure</li><li>Products &amp; Services – end to end Sales process implemented</li><li>Data Import wizard customized as per the business process</li></ol>
    <h4><b>Key Technologies / Assets:</b></h4>
<ol><li>Salesforce CRM</li><li>Standardized data</li><li>Integration</li></ol>
<h4><b>Benefits:</b></h4>
    <ol><li>Closes more sales and seizes more cross- and up-sell opportunities boosting revenues by 27%</li><li>Time-to-convert is slashed more than 30% by streamlining the sales cycle and improved follow ups</li><li>Sales productivity leaps as managers can see where reps should be focusing to close sales</li><li>Managers have immediate visibility of the sales pipeline and know who is working on what.</li><li>No follow-ups were missed</li><li>No opportunity fell through the cracks</li><li>Head of Sales could now run a single report to view his team activities throughout the day without Relationship Managers sending spreadsheets</li></ol>
</div>
<h4>Our Clients</h4>
{% endblock %}