{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:40px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }
    .about h4{
        margin:0px;
        font-size:17px;
    }

    .about ol li{
    margin-left:8px;
    display: list-item;
    }

    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>MANUFACTURING CRM</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
    <h4><b>Best CRM Software for Real Estate Agents</b></h4>
    <p>Automated manufacturing processes of leading garment and cement companies. Our customized solutions helped their business teams to monitoring factory performance, efficiency and Rating. Also sample making and lead time analysis capturing, Sourcing procurement performance analysis, Marketing merchant performance and Warehouse performance analysis.</p>

</div>
<h4>Our Clients</h4>
{% endblock %}