{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:40px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }

  ol li{
     margin-left:8px;
  }
h5{
    font-size:18px;
}
    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>MICROSOFT DYNAMICS CRM</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
    <p>Enterprises worldwide have benefitted from MS Dynamics CRMs familiar and intelligent marketing capabilities, to market more effectively, improve productivity and gain actionable insight into marketing efforts. Pegasys Business Technologies provides implementation & Technology Consulting Solutions on Microsoft Dynamics CRM to automate entire sales and support processes. We also help companies to create a custom solution. With our strategic and integration experience to complement Microsoft Dynamics CRM, you’ll have a solution that can be quickly implemented to help increase productivity and profits. And since Dynamics also integrates easily with familiar applications like Microsoft Office and Outlook™, your team can begin seeing results in a shorter span of time.<br><br>

Pegasys has implemented Microsoft Dynamics CRM projects for a number of small and medium sized businesses on time. We are Microsoft Partner and have deep expertise on Microsoft CRM implementations, Microsoft CRM customization, and CRM upgrade. We have excellent experience on Versions 4.0, 2011, 2013 and Online CRM.<br><br>

Our experienced Dynamics CRM Development team has executed multiple projects, which utilize the existing features of Dynamics CRM and pass on the cost and time benefit to the customers. Our dedicated Dynamics CRM development team is well appreciated by our customers for our expertise, quality of work and commitment to business growth of our customers.</p>

    <h5><b>Microsoft Dynamics CRM Services:</b></h5>
    <ol><li>Microsoft Dynamics CRM Architecture Solutions</li><li>Microsoft Dynamics CRM Functional requirements analysis</li><li>Microsoft Dynamics CRM Implementation &amp; Optimization</li><li>Microsoft Dynamics CRM Customization &amp; Development</li><li>Microsoft Dynamics CRM Integration with ERP, CMS and other 3rd Party systems</li><li>Microsoft Dynamics CRM Upgrades &amp; Migration</li><li>Microsoft Dynamics CRM Development</li><li>CRM Process Alignment and improvement</li><li>Microsoft Dynamics CRM Installation and configuration</li><li>Microsoft Dynamics CRM Data profiling, cleansing and preparation</li><li>Microsoft Dynamics CRM Infrastructure design (e.g. app server Clustering)</li><li>Microsoft Dynamics CRM Testing services</li><li>Microsoft Dynamics CRM Training</li></ol>
</div>

{% endblock %}