{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:40px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }
    .about h4{
        margin:0px;
        font-size:17px;
    }

    .about ol li{
    margin-left:8px;
    display: list-item;
    }

    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>NON PROFITS CRM</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
    <h4><b>Salesforce for Non Profits</b></h4>
    <p>Salesforce offers Non Profits an end-to-end solution called the Non Profit Success Pack (NPSP). The NPSP keeps your fundraising, donor data and volunteer tracking expertly organized inside Salesforce. With access to organized and up-to-date information, your job becomes so much easier!<br>
    Any eligible nonprofit can obtain 10 free licenses of the NPSP. VisitPower of Us to see if your organization qualifies.
    </p>

<h4><b>Unified View</b></h4>
    <p>Salesforce gives you a unified view of every interaction your nonprofit has with donors, supporters, members, volunteers, and partners. With all the information you need in one place, you can better manage all of those relationships and attract more resources.</p>
    <h4><b>Keep Donors Excited About Campaigns</b></h4>
<p>Use Salesforce to show your progress on a campaign to donors. It takes just a few clicks to build a dashboard that will keep donors energized and enthusiastic about your latest campaign.</p>
    <h4><b>Communicate with Your Community</b></h4>
<p>Delivering the right message at the right time increases response rates and engagement, helping you build community and deliver on your mission. With Salesforce, you can more effectively share information and collaborate in real time.</p>
<h4><b>Your Own Salesforce App</b></h4>
<p>You can have your own social and mobile apps for Salesforce to help manage your programs and provide services to the people you help.</p>
<h4><b>The Manuroop Advantage</b></h4>
<p>Manuroop has considerable experience helping nonprofits maximize Salesforce features for their unique needs. We work with you to understand your requirements and customize Salesforce to meet those requirements.</p>
<h4><b>How Manuroop Can Help</b></h4>
<ol><li>Configure your lead and donor database</li><li>Clean and dedupe your database</li><li>Set up your system to accept single, multiple or recurring donation payments</li><li>Set up marketing campaigns</li><li>Design and implement dashboards and reports</li><li>Train your team</li></ol>
<h4><b>We can also assist with more complex projects:</b></h4>
<ol><li>Create your custom app</li><li>Integrate Salesforce with your other systems</li></ol>
<p>Whether your needs are simple or complex, Manuroop has the experience to deliver a solution that fits your budget and your timeline. For more information, get in touch with an Pegasys Nonprofit Salesforce specialist at sales@pegasyssoft.com.<br> We look forward to showing you what we can do!</p>
</div>

{% endblock %}