{% extends 'base.html' %}
{% block content %}
<style>
main {
        margin:0px;
        }

    h3{
     color:black;
    }
  .card-panel{
  padding:10px;
  margin-top: 3px;
  background-color:#F5F5F5;
  }

  .about{
          margin-left:40px;
          margin-top:40px;
  }
  h4{
      margin-left:30px;
      margin-top:20px;
      font-size:20px;
  }
    .about h4{
        margin:0px;
        font-size:17px;
    }

    .about ol li{
    margin-left:8px;
    display: list-item;
    }

    </style>
<div class="col s12 ">
        <div class="card-panel">
          <span class="white-text">
              <center> <h3><b>REAL ESTATE CRM</b></h3></center>
          </span>
        </div>
</div>
<div class="about">
    <h4><b>Best CRM Software for Real Estate Agents</b></h4>
<p>Pegasys custom Real Estate solution helps all size Real Estate Companies to track their target customers, Property Sales, Payments tracking, Sales Marketing, organization-wide Sales, Marketing, Customer Support & Service and Inventory Management in a single business system.</p>
    <h4><b>Why is this? Let’s consider some of the key benefits of CRM for Real Estate:</b></h4>
<ol><li>Real time processing of all invoices.</li><li>Smart handling of property sales.</li><li>Land bank and sanctions confident management.</li><li> Proper management of building maintenance.</li><li> Prominent cash flow improvement.</li><li> Constant and immediate overview of company’s financial situation.</li></ol>



</div>

{% endblock %}